<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand fw-bold">&copy; WanderLust Private Limited</div>
        <div class="f-info-links d-flex gap-3">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div>
    </div>
</footer>