<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
      <span>WanderLust</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <div class="nav-search mx-auto">
        <form role="search" action="/listings/search" method="get" id="searchBox" class="m-0">
          <div class="search-capsule">
            <input class="search-inp" type="search"
              placeholder="Anywhere • Any week • Add guests" aria-label="Search" name="q" id="mySearchInput" required/>
            <% if (typeof category !== 'undefined' && category) { %>
              <input type="hidden" name="category" value="<%- category %>">
            <% } %>
            <button class="btn search-btn" type="submit" id="search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="navbar-nav ms-auto align-items-center gap-3">
        <a class="nav-link" href="/listings/new">Become a host</a>
        
        <div class="dropdown">
          <div class="user-menu-capsule dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            <div class="user-avatar">
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if(typeof currUser === 'undefined' || !currUser) {%>
              <li><a class="dropdown-item fw-bold" href="/signup">Sign up</a></li>
              <li><a class="dropdown-item" href="/login">Log in</a></li>
            <% } else { %>
              <li><a class="dropdown-item fw-bold" href="/logout">Log out</a></li>
            <% } %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/listings">Explore Listings</a></li>
            <li><a class="dropdown-item" href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>